@import "tailwindcss";

@theme {
    --color-white-primary: #FAF7F3;
    --color-mypink-100: #F0E4D3;
    --color-mypink-200: #DCC5B2;
    --color-mypink-300: #D9A299;
}

body {
    background-color: #FAF7F3;
}

@media (width >=64rem
    /* 1024px */
) {
    .my-container {
        margin-left: 250px;
    }
}