@import "tailwindcss";

@theme {
    --color-darkmode-green-black: #031314;
    --color-bgdarkmode-letter: #052224;
    --color-lettersIcon: #093030;
    --color-darkmode-green-bar: #0E3E3E;
    --color-maingreen: #00D09E;
    --color-lightgreen: #DFF7E2;
    --color-bggreen-whiteletter: #F1FFF3;
    --color-lightblue-btn: #6DB6FE;
    --color-blue-btn: #3299FF;
    --color-oceanblue-btn: #0068FF;
    --color-darkmode-icon-sqr: #4B4544;
}